<% if notice %>
  <form class="form-horizontal">
      <div class="form-group">
        <div class="col-md-6 col-md-offset-2">
          <div class="alert alert-danger" role="alert">
            <%= notice.html_safe %>
          </div>
        </div>
      </div>
  </form>
  <br >
<% end %>

<%= form_for @task do |f| %>
  <div class="form-horizontal">
    <div class="form-group"></div>
    <div class="form-group">
      <div class="control-label col-md-2"><%= f.label :description %></div>
      <div class="form-controls col-md-4">
        <input class="form-control" id="task_description" name="task[description]" type="text" value="<%= "#{@task.description}" %>">
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-md-2"><%= f.label :date %></div>
      <div class="form-controls col-md-4">
          <%= f.date_field(:date) %>
      </div>
    </div>
    <% if @task.description != nil %>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-4">
          <div class="checkbox">
            <%= f.check_box(:completed) %> Completed?
          </div>
        </div>
      </div>
    <% end %>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-4">
        <% if @task.description == nil %>
          <input class="btn btn-primary" name="commit" type="submit" value="Create Task">
        <% else %>
          <input class="btn btn-primary" name="commit" type="submit" value="Update Task">
        <% end %>
        <a class="btn btn-default" <%= link_to 'cancel', tasks_path %>
      </div>
    </div>
  </div>
<% end %>
