
<div class="page-header">
  <div class="pull-right">
    <a class="btn btn-info" <%= link_to 'Edit', edit_project_task_path(@project, @task) %></a>
  </div>
  <h1><%= @task.description %></h1>
</div>

<ul class="breadcrumb">
  <li><%= link_to "Projects", projects_path %></li>
  <li><%= link_to "#{@project.name}", @project %></li>
  <li><%= link_to "Tasks", project_tasks_path(@project) %></li>
  <li class="active"> <%= @task.description %> </li>
</ul>

<% if @task.date != nil %>

    <div class="form-group">
      </div><strong><%= 'Due Date:' %></strong>
      <%= @task.date %>


    <div class="form-group">
      </div><strong><%= 'Completed:' %></strong>
      <%= @task.completed %>

<% end %>

<h1>Comments</h1>

<br>

<% @task.comments.each do |com| %>
  <div class="row">
    <div class="col-md-3">
      <%= link_to com.user.full_name, user_path(com.user) %>
      <br>
      <div class="text-muted">
        <%= time_ago_in_words(com.created_at) + " ago" %>
      </div>
    </div>
    <div class="col-md-9">
      <%= com.text %>
    </div>
  </div>
  <br>
<% end %>

<br>

<%= form_for([@project, @task, Comment.new]) do |f| %>
  <div class="row">
    <div class="col-md-9 col-md-offset-3">
      <%= f.text_area :text, class: "form-control" %>
      <br>
      <%= f.submit class: "btn btn-primary", rows: "3"%>
    </div>
  </div>
<% end %>
