
<div class="page-header">
  <div class="pull-right">
    <a class="btn btn-info" <%= link_to 'Edit', edit_project_task_path(@project, @task) %></a>
  </div>
  <h1><%= @task.description %></h1>
</div>

<ul class="breadcrumb">
  <li><%= link_to "Projects", projects_path %></li>
  <li><%= link_to "#{@project.name}", @project %></li>
  <li><%= link_to "Tasks", project_tasks_path(@project) %></li>
  <li class="active"> <%= @task.description %> </li>
</ul>

<% if @task.date != nil %>

    <div class="form-group">
      </div><strong><%= 'Due Date:' %></strong>
      <%= @task.date %>


    <div class="form-group">
      </div><strong><%= 'Completed:' %></strong>
      <%= @task.completed %>

<% end %>
