<div class="page-header">
  <div class="pull-right">
    <a class="btn btn-info" <%= link_to 'Edit Project', edit_project_path(@project) %></a>
    <a class="btn btn-danger" <%= link_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <h1><%= @project.name %></h1>
</div>

<ul class="breadcrumb">
  <li><%= link_to "Projects", projects_path %></li>
  <li class="active"><%= @project.name %></li>
</ul>

<%= link_to "#{@project.tasks.size} #{'task'.pluralize(@project.tasks.size)}", project_tasks_path(@project) %>
<br>
<%= link_to "#{@project.memberships.size} #{'membership'.pluralize(@project.tasks.size)}", project_memberships_path(@project) %>
